# docker-compose.yml
version: '3.9'

services:
  # 1. 业务数据库：存用户、文档记录
  mysql:
    image: mysql:8.0
    container_name: campus_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root # 开发环境随便写，上线了再改
      MYSQL_DATABASE: campus_ai_db
    ports:
      - "3307:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql # 把数据存在当前目录下的 data 文件夹里

  # 2. 向量数据库：存 Embedding 向量
  chromadb:
    image: chromadb/chroma
    container_name: campus_chroma
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./data/chroma:/chroma/chroma # 同样做持久化

  # 3. NestJS 服务
  server:
    build: 
      context: ./server   # 指向 server 文件夹
      dockerfile: Dockerfile
    container_name: campus_server
    ports:
      - "3000:3000"       # 将容器内的 3000 端口映射到电脑的 3000 端口
    volumes:
      - ./server:/app     # 【热更新】把代码目录挂载进去，Mac上改了代码，容器里立竿见影
      - /app/node_modules # 忽略容器里的 node_modules，不要和宿主机的混淆
    depends_on:
      - mysql             # 必须等 MySQL 启动后再启动我
      - chromadb          # 必须等 Chroma 启动后再启动我
    environment:
      # 核心知识点：连接数据库时，Host 不能写 localhost，要写 mysql (即上面的 service 名)
      DATABASE_URL: "mysql://root:root@mysql:3306/campus_ai_db"

# 以后如果还要加 Redis 或者 MinIO，直接往这里面写就行